.header {
  color: aliceblue;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
}

.header div {
  margin-bottom: 10px;
}

.main-screen {
  display: flex;
  background-color: rgb(44, 44, 44);
  margin: 0;
  height: 98vh;
}

.column-difficulties {
  font-size: 24px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-lock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 70vh;
  margin-right: 40px;
}

.input-container input {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  color: black;
  width: 90px;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.input-container input:hover {
  background-color: lightblue;
}

.column-lockpicks {
  flex: 0.95;
  height: 60vh;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: relative;
  margin: auto;
}

.current-difficulty {
  display: flex;
  font-size: xx-large;
  justify-content: end;
  position: absolute;
  width: 72vw;
  margin-top: 4vh;
}

.choose-difficulty-below {
  margin-top: 10px;
}

.difficulty {
  font-size: 24px;
  color: aliceblue;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

.lockpick-header {
  color: aliceblue;
  font-size: x-large;
}

.lockpick:hover {
  cursor: pointer;
}

/* Add unique IDs for each difficulty button */
#difficulty-novice:hover {
  text-decoration-color: lightgreen;
  text-decoration: underline;
  filter: drop-shadow(0 0 5px lightgreen);
}

#difficulty-advanced:hover {
  text-decoration-color: lightskyblue;
  text-decoration: underline;
  filter: drop-shadow(0 0 5px lightskyblue);
}

#difficulty-expert:hover {
  text-decoration-color: purple;
  text-decoration: underline;
  filter: drop-shadow(0 0 5px purple);
}

#difficulty-master:hover {
  text-decoration-color: orange;
  text-decoration: underline;
  filter: drop-shadow(0 0 5px orange);
}

.game-complete {
  margin: 20%;
  color: aliceblue;
  font-size: xx-large;
}

